.allHeadTr {
    border-bottom: 2px solid lightgray;
}

.allHeadTr ul {
    display: flex;
    background: #f0ffff;

    padding: 20px 27px;

    border-radius: 15px;
}

.allHeadTr ul li {
    list-style: none;
}

.allHeadTr li:nth-child(1) {
    width: 18.1%;
    text-align: start;
}

.allHeadTr li:nth-child(2) {
    width: 22.5%;
    text-align: start;
}

.allHeadTr li:nth-child(3) {
    width: 28.4%;
    text-align: start;
}

.allHeadTr li:nth-child(4) {
    width: 27%;
    text-align: start;
}

.allHeadTr li:nth-child(5) {
    text-align: end;
}